
*.dll

*.cache

InternshipER/obj/Debug/InternshipER\.pdb

\.vs/InternshipER/v15/Server/sqlite3/

\.vs/config/applicationhost\.config

\.vs/InternshipER/v15/\.suo

InternshipER/obj/Debug/InternshipER\.csproj\.FileListAbsolute\.txt

InternshipER/bin/InternshipER\.dll\.config

InternshipER/bin/InternshipER\.pdb
